body {
	background-color: #000;
}

h1 {
	color: white;
	font-family: 'Megrim', cursive;
	font-size: 60px;
	display: inline-block;
 	margin-bottom: 20px;
 	margin-left: 25px;
 }

h2, p, li {
	color: #fff;
	font-family: arial;
	font-size: 14px;
}

h2 {
	font-size: 21px;
	font-weight: bold;
	margin-bottom: 15px;
}

li {
	list-style-type: square;
	margin: 0 0 10px 20px;
}

li:last-child {
	margin-bottom: 0px;
}

#wrapper {
	min-width: 1090px;
	padding-top: 20px;
}

#leftPane {
	background-color: #000;
	float: left;
	padding-top: 2%;
	width: 325px;
}

#rightPane{
	background-color: #000;
	background-image: url("../images/gameBG.png");
	background-position: left 0px top 100px;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #000;
	display: inline-block;
	float: left;
	padding-top: 20px;
	width: 70%;
	height: 100vh;
}

#instructions {
	background-color: #333;
	border-radius: 35px 0;
	display: inline-block;
	margin-left: 20px;
	padding: 20px 20px;
	width: 250px;
}

#output {
	background-color: #666;
	color: #fff;
	display: inline-block;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0 0 20px;
	padding: 20px 20px 0 20px;
	text-align: center;
	width: 250px;
}

.title {
	background-color: #444;
	color: #fff;
	float: left;
	font-size: 16px;
 	margin-right: 20px;
 	padding: 10px 0;
	width: 115px;
}

.title:nth-child(even) {
	margin-right: 0px;
}

.box {
	background-color: #fff;
	color: red;
	display: inline-block;
	float: left;
	font-size: 48px;
	height: 60px;
	margin-bottom: 20px;
	margin-right: 20px;
	padding-top: 10px;
	text-align: center;
	width: 115px;
}

.box:nth-child(even) {
	margin-right: 0;
}

#randNum {
	color: green;
}

#numTotal {
	color: gold;

}

#numWins {
	color: blue;	
}

#numLosses {
	color: red;
}

#crystals {
	 height: 125px;
	 margin: 25% 0 0 20%;
}

.crystal-image {
	float: left;
	height: 100px;
	width: 100px;
}

.crystal-image:nth-child(1) {
	margin-top: 0px;
}

.crystal-image:nth-child(2) {
	margin-top: 20px;
}

.crystal-image:nth-child(4) {
	margin-top: 40px;
}

.clearfix:after {
	clear: both;
	display: block; 
	content: ".";
	visibility: hidden;
	height: 0;

}

#break {
	display: block;
	margin-top: 15px;
}